<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-world-of-l5" role="menuitem"><a href="{{site.baseurl}}tag/world-of-l5/">World</a></li>
    <li class="nav-world-of-l5" role="menuitem"><a href="{{site.baseurl}}play/">Play</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-mailing-list" role="menuitem"><a href="http://eepurl.com/dKfVXQ">About</a></li>
    <li class="nav-play-l5" role="menuitem"><a href="{{site.baseurl}}tag/meta">Meta</a></li>
</ul>
